<div id="dashboard">
	<h1 class="section-title">Diário de classe</h1>
	<%= flash[:notice] %>
  	<%- @diario_de_classe_posts.each do |post|%>
		<div class="post">
			<h2><%=h post.title %> - <span><%=h post.created_at.strftime('%d/%m/%Y')%></span></h2>
		    <p><%=h post.body %></p><br />
			<p>Tags: <%= post.tag_list.join(', ') %></p>
			<div class="actions">
				<%=link_to 'Show', object_url(post) %>&nbsp; | &nbsp;
		    	<%=link_to 'Edit', edit_object_url(post) %>&nbsp; | &nbsp;
	    		<%=link_to 'Destroy', object_url(post), :confirm => 'Você tem certeza?', :method => :delete %>	
			</div>
		</div>
	<% end %>
  <%= link_to 'Criar nova entrada', new_object_url, {:class => 'create'} %>
</div>
