
<% y @datagrid %>
<div id="dashboard">
    <div class="dash-head">
    	<!-- Title of datagrid -->
        <h1><%=@datagrid[:title]%></h1>
		<!-- Action area -->
		<div class="action-area">
			<%@datagrid[:action_buttons].each do |button|%>
			
				<%=link_to_remote("Novo", :update => "add_content", :url => { :action => "new"},
                    :complete => "Application.showAddArea();") if button == 'add'%>

				<%=link_to_remote("Novo", :update => "add_content", :url => { :controller => "objectives", :action => "newobj", :id => params[:id]},
                    :complete => "Application.showAddArea();") if button == 'add_obj'%>

					<%=link_to_remote("Novo", :update => "add_content", :url => { :action => "signup"},
						  :complete => "Application.showAddArea();") if button == 'add_user'%>
				
				<%=eval(button) unless (button == 'add_user') or (button == 'add') or (button == 'add_obj') %>
			<% end %>
		</div>
    </div>
    <div class="dashboard-content" id="dashboard_content">
        <table class="datagrid" cellspacing="0" cellpadding="0">
        	<thead>
        		<tr>
        			<td colspan="<%=@datagrid[:fields].length+4%>">
        				<div id="add_content"></div>
        			</td>
        		</tr>
        	</thead>
            <tfoot><tr><td colspan="<%=@datagrid[:fields].length+4%>">&nbsp;</td></tr></tfoot>
            <tbody>
                <tr>
                    <th class="first">Id</th>
                    <% @datagrid[:header].each do |item|%>
                        <th><%=item%></th>
                    <% end %>
                    <th>Cadastrado em</th>
                    <th>Atualizado em</th>
                    <th>Ações</th>
                </tr>
                <% count = 0 %>
                <% @datagrid[:list].each do |item|%>
                <%="<tr class='row"+((count % 2 == 0) ? 1 : 2).to_s+"' id='item_"+item.id.to_s+"'>"%>
                    <td class="first"><%=item.id%></td>
                    <% @datagrid[:fields].each do |field|%>

                        <td><%=item[field]%></td>
                    <% end %>
                    <td><%=item.created_at.strftime("%d/%m/%Y")%></td>
                    <td><%=item.updated_at.strftime("%d/%m/%Y")%></td>
                    
                    <%= if @datagrid[:actions].include?('objectives'): 
                            "<td>"
                         else
                             "<td class='row_objectives'>" 
                         end
                    %>
                        <%@datagrid[:actions].each do |action|
                        #### Clasrooms ####%>
                        		
                            <%=link_to_remote("Ver", :update => "item_content_"+item.id.to_s, 
                                :url => { :action => "show", :id => item.id },
                                :complete => "Application.showEntry(request, '"+item.id.to_s+"')") if action == 'view'
                            %>
							      <%=link_to_remote("Editar", :update => "item_content_"+item.id.to_s, 
                                :url => { :action => "edit", :id => item.id }, :method => :get,
                                :complete => "Application.showEntry('"+item.id.to_s+"')") if action == 'edit'
                            %>
                            <%=link_to("Deletar", { :action => "delete", :id => item.id }, :confirm => "Você tem certeza?") if      action == 'delete' %>

									<% #### Objectives  #### 
									%>
									<%=link_to("Deletar", { :controller => "objectives", :action => "delete", :id => item.id, :classroom_id => params[:id] }, :confirm => "Você tem certeza?") if      action == 'delete_obj' %>

							      <%=link_to_remote("Editar ", :update => "item_content_"+item.id.to_s, 
                                :url => { :controller => "objectives", :action => "edit", :id => item.id, :classroom_id => params[:id] }, :method => :get, :complete => "Application.showEntry('"+item.id.to_s+"')") if action == 'edit_obj'
                            %>
					
                           <%= 
                           if action == "objectives":
                           
                                link_to ( image_tag("logged/target_"+(count%2).to_s+".jpg" , :class => "signin", :alt => "Objetivos") + "objetivos" , :url=> {:controller=>"objectives",:action => "objectives"} , :id => item.id )
                                 y "aqui"
                            end 
                            
                            	if action ==  "atrb"
                           		link_to_remote ("selecionar professores" , :update => "item_content_"+item.id.to_s, :url=> {:action=>"list_users", :id=> item.id}, :complete => "Application.showEntry('"+item.id.to_s+"')")
                           	
                           	else
 
                          end %>
										
										<% #### Users ####
										
										%>
 							      <%= link_to_remote("Ver", :update => "item_content_"+item.id.to_s, 
                                :url => {:controller=> "account", :action => "show", :id => item.id }, :method => :get,
                                :complete => "Application.showEntry('"+item.id.to_s+"')") if action == 'edit_user'
                            %>
							      <%= link_to_remote("Editar", :update => "item_content_"+item.id.to_s, 
                                :url => {:controller=> "account", :action => "edit", :id => item.id }, :method => :get,
                                :complete => "Application.showEntry('"+item.id.to_s+"')") if action == 'edit_user'
                            %>
                            <%= link_to("Deletar", { :action => "delete", :id => item.id }, :confirm => "Você tem certeza?") if      action == 'delete_user' %>
                               
                        <% end %>
                    </td>
                </tr>
                <tr id="item_content_row_<%=item.id%>" style="display:none;">
                    <td colspan="<%=@datagrid[:fields].length+4%>" class="view-item">
                        <div id="item_content_<%=item.id%>"></div>
                    </td>
                </tr>
                <% count += 1 %>
                <% end %>
            </tbody>
        </table>                        
        <div class="dashfooter">&nbsp;</div>
    </div>
</div>
