<h1>Informações de usuário</h1>

   <p>Nome: <%= @usr.name %> 						</p>
    <p>Nome de Usuário: <%= @usr.username %> </p>
    <p>Email: <%= @usr.email %>   				</p>
    <p>Escola: <%= @usr.school %>				</p>
    <p>Cidade: <%= @usr.city %>   				</p>
    <p>Estado: <%= @usr.state %>  				</p>
 
